---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Welcome to Solstice!</h1>
	<p>A nation of peace, democracy, and cooperation</p>
	<h2>Information</h2>
	<ul>
		<li>History</li>
		<li>Government</li>
		<li>Provinces</li>
		<li>Travel advisories</li>
	</ul>
</BaseLayout>
