---
import { Icon } from "astro-icon/components";
---

<div id="fictional-notice">
	<Icon id="fictional-notice-icon" name="ph:warning" />
	<div>
		This website is for a fictional country on the
		<a href="https://aircs.racing">bits & Bytes Minecraft server</a>.
	</div>
</div>
<style>
	#fictional-notice {
		background: #eeee22;
		border-radius: 0.5rem;
		padding: 1rem;

		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	#fictional-notice-icon {
		width: 2rem;
		height: 2rem;

		color: #888811;
	}
</style>
