---
import { Icon } from "astro-icon/components";
---

<div id="flag-and-name">
	<a href="/">
		<Icon name="flag" />
		<div>Solstice</div>
	</a>
</div>
<style>
	#flag-and-name a {
		text-decoration: none;

		display: flex;
		align-items: center;
		gap: 1rem;
	}

	/* The <Icon> component */
	#flag-and-name [data-icon] {
		font-size: 3rem;
	}
</style>
