---
const links = [
	{ label: "Home", path: "/" },
	{ label: "Travel Advisories", path: "/travel-advisories" },
];
---

<nav id="nav">
	<ul>
		{
			links.map((link) => (
				<li>
					<a href={link.path}>{link.label}</a>
				</li>
			))
		}
	</ul>
</nav>
<style>
	#nav ul {
		display: flex;
		list-style: none;
		gap: 1.5rem;
		padding-left: 0;
		width: fit-content;
	}

	#nav a {
		text-decoration: none;
		transition: color 0.2s ease-out;

		color: black;
	}

	#nav a:hover {
		color: var(--neutral-300);
	}

	#nav a:active {
		color: var(--neutral-100);
	}
</style>
