---
import Header from "../components/Header.astro";
import "../global.css";

interface Props {
	title?: string;
	description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title != null ? `${title} - Solstice` : "Solstice"}</title>
	</head>
	<body>
		<Header />
		<main class="prose">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	body {
		max-width: 1280px;
		margin: 0 auto;
		padding: var(--spacing-4);

		background-color: var(--neutral-950);
	}
</style>
