---
import { Icon } from "astro-icon/components";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	frontmatter: {
		title: string;
	};
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
	<a id="back-link">
		<Icon name="ph:arrow-left" />
		Parent name
	</a>
	<article class="prose">
		<h1>{frontmatter.title}</h1>
		<slot />
	</article>
</BaseLayout>
<style>
	#back-link {
		display: flex;
		align-items: center;
		gap: var(--spacing-1);

		color: var(--neutral-300);
	}
</style>